<div class="login-footer">
  <div class="container">
    <div class="ioc-logo">
      <img src="/images/icon/ioc-logo.png" height="43">
    </div>

    <div class="link-container" style="margin-left: 90px;width: 280px;">
      <span>太仓市智慧城市运营中心关键业绩指标系统</span>
      <a>关键业绩指标</a>
      <a>智能分析</a>
      <a>数据管理</a>
    </div>

    <div class="link-container" style="width: 220px;">
      <span>链接</span>
      <a href="http://www.taicang.gov.cn/" target="_blank">中国太仓</a>
    </div>

    <div class="tj-logo">
      
    </div>
    <div class="clearfix"></div>
    <div class="copy-right">
      主办单位：太仓市经济和信息化委员会  同济大学软件学院
      <br/>
      ©1996-2015 Taicang Inc.All Right Reserved
    </div>
  </div>
</div>