<!--mytop-->
<!--<div class="header-mast-options">-->
  <!--<div class="container">-->
    <!--<div class="nav navbar-option navbar-right pull-left">-->
      <!--<span>感谢访问太仓市智慧城市KPI系统</span>-->
    <!--</div>-->
    <!--<div class="nav navbar-option navbar-right">-->
      <!--<span>欢迎! {{currentUser.nickname}}</span>-->
      <!--<span>&nbsp;&nbsp;|&nbsp;</span>-->
      <!--<span ng-click="show_datapicker()" style="cursor:pointer;">显示时间 <span style="text-decoration: underline;">{{system_date | date:'yyyy-MM-dd'}}</span></span>-->
      <!--<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>-->
      <!--<a href="javascript:void(0);" ng-click="userResetPassword()">密码重置</a>-->
      <!--<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>-->
       <!--<datepicker id="date_picker" max-date="curr_date" min-date="min_date" ng-model="system_date"  show-weeks="true" class="well well-sm" style="z-index:1000;position:fixed;display:none;"></datepicker>-->
      <!--<a href="javascript:void(0);" ng-click="logout()">退出</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--myheader-->
<nav class="navbar navbar-ioc main-nav">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/images/icon/ioc-logo.png" height="43"></a>
    </div>
    <ul class="nav navbar-nav" style="float: right">
      <li>
        <a class="current" ng-click="showNavPannel('home',$event.target)">首页</a>
      </li>
      <li>
        <a ng-click="showNavPannel('kpi',$event.target)">关键业绩指标</a>
      </li>
      <li>
        <a href="#/waterEnvironmentBI" ng-click="showNavPannel('bi',$event.target)">智能分析</a>
      </li>
      <li ng-if="systemManageNavStatus">
        <a ng-click="showNavPannel('peizhi',$event.target)">系统管理</a>
      </li>
      <!-- <li>
        <a href="/about">帮助</a>
      </li> -->

    </ul>

    <div class="nav-pannel" >
      <div class="container">
        <div class="kpi-container">
          <div class="row">

            <div class="col-md-2" ng-repeat="domain in blueMap">
              <p>
                <a>{{domain.name}}</a>
              </p>
              <ul>
                <li ng-repeat="category in domain.categories"><a ui-sref="app.kpicategory({categoryId:category.id})">{{category.name}}</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="bi-container">
          <div class="row">
             <div class="col-md-2">
              <p>
                <a href="">经济</a>
              </p>
              <ul>
                <!-- <li><a href="/dt/udf/tax">税收预测分析</a></li> -->
                <li><a ui-sref="app.keqiangIndex">克强指数分析</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <p>
                <a href="">民生</a>
              </p>
              <ul>
                <li><a ui-sref="app.PopulationStructurePrediction">常住人口预测分析</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <p>
                <a href="">环境</a>
              </p>
              <ul>
                <li><a href="#/waterEnvironmentBI">水环境预测分析</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="peizhi-container">
          <div class="row">
            <div class="col-md-2">
              <p>
                <a href="">权限管理</a>
              </p>
              <ul>
                <li><a ng-click="closePullInfo()" ui-sref="app.userConfig">权限配置</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <p>
                <a href="">KPI管理</a>
              </p>
              <ul>
                <li><a ng-click="closePullInfo()" ui-sref="app.kpiConfig">KPI配置</a></li>
              </ul>
            </div>

          </div>
        </div>

      </div>
      <div class="nav-pannel-bottom">
        <span class="glyphicon glyphicon-eject close-icon"
          ng-click="closeNavPannel()"></span>
      </div>
    </div>
  </div>
</nav>

<!--<div class="menu_width">-->
  <!--<div class="menu">-->
    <!--<div class="menu_logo"><a href="/"></a></div>-->
    <!--<ul class="menu_list" style="height: 90px">-->
      <!--&lt;!&ndash;-当前页面是哪个栏目，只用在li的class里再加个" current "就行了&ndash;&gt;-->
      <!--<li class="menu_1"><a href="/ganzizhou.html"><span>首页</span></a></li>-->
      <!--<li class="menu_2"><a class="current" href="/city.html"><span>实时监测</span></a></li>-->
      <!--<li class="menu_3"><a ng-click="showNavPannel('kpi')"><span>关键业绩指标</span></a></li>-->
      <!--<li class="menu_4"><a ng-click="showNavPannel('bi')"><span>智能分析</span></a></li>-->
      <!--<div class="clear"></div>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->

<div class="modal fade" id="userResetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header"><label>密码重置</label></div>
      <div class="modal-body" style="height: 60px;padding:15px 0 0 0">
        <form role="form" name="userResetPasswordForm">

          <div class="form-group col-md-6">
              <div class="col-sm-4">新密码:*</div>
              <div class="col-sm-8">
              <input name="accountName" ng-model="newInfo.password" class="form-control input-sm" required>
            </div>
          </div>
        </form>
      </div>
      <div>
        <div class="modal-footer">
          <button ng-click="userResetPasswordPre()" type="submit" class="btn btn-primary" ng-disabled="userResetPasswordForm.$invalid">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="userResetPasswordConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">

      <div class="modal-body" align="center">
        <label>确定修改密码？</label>
      </div>

      <div>
        <div class="modal-footer">
          <button ng-click="userResetPasswordProcess()" class="btn btn-primary" data-dismiss="modal">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
