<div ng-if="currTable" >
  <div class="btn-group">
    <button class="btn btn-sm btn-default" ng-click="addData()">添加数据</button>
    <button class="btn btn-sm btn-default" ng-click="addBatchData()">导入数据</button>
    <button class="btn btn-sm btn-default" ng-click="queryData()">高级查询</button>
    <button class="btn btn-sm btn-default" ng-click="reloadData()">刷新全部</button>
  </div>
  <pagination ng-change="pageChange()" total-items="pageInfo.totalItems" items-per-page="pageInfo.pageSize" ng-model="pageInfo.pageNumber" max-size="1" class="pagination-md" boundary-links="true" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页" style="margin:0px 0px;float: right"></pagination>
  <div class="table-responsive" style="margin-top:10px">
    <table class="table table-striped table-bordered">
      <thead>
        <th ng-repeat="dateTypeOne in currDateTypeArr">{{getChineseDateString(dateTypeOne)}}</th>
        <th ng-repeat="column in currTable.columns">{{getColumnNameUnit(column)}}</th>
        <th>操作</th>
      </thead>
      <tbody>
        <tr ng-repeat="dataItem in dataList">
          <td ng-repeat="dateTypeOne in currDateTypeArr" style="min-width: 50px;width:50px;max-width:50px">{{dataItem[dateTypeOne]}}</td>
          <td ng-repeat="column in currTable.columns" ng-style="getMinWidth(column.width)">{{getDictNameOrData(dataItem,column)}}</td>
          <td style="min-width: 80px;width:80px;max-width:80px"> <i class="fa fa-pencil-square-o" style="cursor: pointer;" ng-click="updateData(dataItem)"></i>
            &nbsp; <i class="fa fa-remove" style="cursor: pointer;" ng-click="deleteData(dataItem)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="addDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$hide()">×</button>
          <h4 class="modal-title ng-scope">添加数据</h4>
        </div>
        <div class="modal-body form-horizontal" style="overflow-y: auto;max-height: 400px;margin-bottom: 10px">
          <form role="form" name="addDataForm">
            <div class="form-group">
              <label class="col-sm-4 control-label">日期</label>
              <div class="col-sm-6">
                <div class="dropdown">
                  <button class="dropdown-toggle btn btn-default" data-toggle="dropdown" >{{getDateString(addDataTempDate.date,currTable.dateType)}}</button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="addDataTempDate.date" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',startView:'year',minView: currTable.dateType }"></datetimepicker>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group" ng-repeat="column in currTable.columns">
              <label class="col-sm-4 control-label">{{getColumnNameUnit(column)}}</label>
              <div class="col-sm-6" ng-if="column.type == 'dict'">
                <select class="form-control" ng-model="addDataTemp[column.name]" ng-options="dict.name for dict in column.dictType.dictDatas" required></select>
              </div>
              <div class="col-sm-6" ng-if="column.type == 'TrnspPrjctPrgrsData'">
                <select class="form-control" ng-model="addDataTemp[column.name]" ng-options="trnspPrjct.prjctName for trnspPrjct in trnspPrjctDataList" required></select>
              </div>
              <div class="col-sm-6" ng-if="column.type == 'bboolean'">
                <select class="form-control" ng-model="addDataTemp[column.name]" ng-options="getBooleanChinese(bolleanOne) for bolleanOne in booelanArr" required></select>
              </div>
               <ng-form name="addDataForm_sub1">
              <div class="col-sm-6" ng-if="column.type == 'ddouble'">
                <input ng-model="addDataTemp[column.name]" name="a" class="form-control" type="number" required>
                <span style="color:red" ng-show="addDataForm_sub1.a.$dirty && addDataForm_sub1.a.$invalid">请输入有效数字</span></ng-form>
              </div>
              <div class="col-sm-6" ng-if="column.type == 'sstring'">
                <input ng-model="addDataTemp[column.name]" class="form-control" type="text" required></div>
                <ng-form name="addDataForm_sub2">
              <div class="col-sm-6" ng-if="column.type == 'iint'">
                <input ng-model="addDataTemp[column.name]" name="b" class="form-control" type="text" onkeyup="this.value=this.value.replace(/[^(\d)]/g,'')" onpaste="this.value=this.value.replace(/[^(\d)]/g,'')" required>
                <span style="color:red" ng-show="addDataForm_sub2.b.$dirty && addDataForm_sub2.b.$invalid">请输入有效整数</span>
              </div>
              <div class="col-sm-6" ng-if="column.type == 'enum'">
                <select class="form-control" ng-model="addDataTemp[column.name]" ng-options="enum for enum in column.enumArr.split(',')" required></select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default ng-scope" ng-click="addDataPre()" ng-disabled="addDataForm.$invalid&&(addDataTempDate.date!='')">添加</button>
          <button class="btn btn-default ng-scope" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addDataConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;">
      <div class="modal-content">

        <div class="modal-header" align="center">
          <h4>是否确认添加数据？</h4>
        </div>

        <div>
          <div class="modal-footer">
            <button ng-click="addDataProcess()" class="btn btn-primary ng-scope" data-dismiss="modal">确定</button>
            <button ng-click="addDataCancel()" class="btn btn-default ng-scope">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="updateDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$hide()">×</button>
          <h4 class="modal-title ng-scope">更新数据</h4>
        </div>
        <div class="modal-body form-horizontal">
          <form role="form" name="updateDataForm">
            <div class="form-group">
              <label class="col-sm-4 control-label">日期</label>
              <div class="col-sm-8">
                <div class="dropdown">{{getDateFormat(currTable,updateDataTemp)}}</div>
              </div>
            </div>
            <div class="form-group" ng-repeat="column in currTable.columns">
              <label class="col-sm-4 control-label">{{getColumnNameUnit(column)}}</label>
              <div class="col-sm-8" ng-if="column.type == 'dict'">{{updateDataTemp[column.name].name}}</div>
              <div class="col-sm-6" ng-if="column.type == 'TrnspPrjctPrgrsData'">
                {{updateDataTemp[column.name].prjctName}}
              </div>
              <div class="col-sm-6" ng-if="column.type == 'bboolean'">
                <select class="form-control" ng-model="updateDataTemp[column.name]" ng-options="getBooleanChinese(bolleanOne) for bolleanOne in booelanArr" required></select>
              </div>
              <div class="col-sm-8" ng-if="column.type == 'ddouble'">
                <input ng-model="updateDataTemp[column.name]" class="form-control" type="text" ng-disabled="currTableEditStatus == 'View'&&column.editable == 0" required></div>
              <div class="col-sm-8" ng-if="column.type == 'sstring'">
                <input ng-model="updateDataTemp[column.name]" class="form-control" type="text" ng-disabled="currTableEditStatus == 'View'&&column.editable == 0" required></div>
              <div class="col-sm-8" ng-if="column.type == 'iint'">
                <input ng-model="updateDataTemp[column.name]" class="form-control" type="text" ng-disabled="currTableEditStatus == 'View'&&column.editable == 0" required></div>
              <div class="col-sm-8" ng-if="column.type == 'emum'">
                <input ng-model="updateDataTemp[column.name]" class="form-control" type="text" ng-disabled="currTableEditStatus == 'View'&&column.editable == 0" required></div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default ng-scope" ng-click="updateDataPre()"  ng-disabled="updateDataForm.$invalid">更新</button>
          <button class="btn btn-default ng-scope" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="updateDataConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;">
      <div class="modal-content">

        <div class="modal-header" align="center">
          <h4>是否确认更新数据？</h4>
        </div>

        <div>
          <div class="modal-footer">
            <button ng-click="updateDataProcess()" class="btn btn-primary ng-scope" data-dismiss="modal">确定</button>
            <button ng-click="updateDataCancel()" class="btn btn-default ng-scope">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteDataConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;">
      <div class="modal-content">

        <div class="modal-header" align="center">
          <h4>是否确认删除数据？</h4>
        </div>

        <div>
          <div class="modal-footer">
            <button ng-click="deleteDataProcess()" class="btn btn-primary ng-scope" data-dismiss="modal">确定</button>
            <button data-dismiss="modal" class="btn btn-default ng-scope">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="queryDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$hide()">×</button>
          <h4 class="modal-title ng-scope">高级查询</h4>
        </div>
        <div class="modal-body" style="overflow-y: auto;max-height: 400px;">
          <form class="form-inline" role="form" name="queryDataForm">
            <div ng-repeat="queryOne in queryArr" class="col-sm-12" style="margin-bottom: 10px">
              <div class="form-group col-sm-3">
                <select class="form-control" ng-model="queryOne.index" style="width:130px"  ng-change="queryOneReset(queryOne)" ng-options="column.description for column in allColumns" required></select>
              </div>
              <div ng-if="queryOne.index.valueType == 'dict'">
                <div class="form-group col-sm-2">
                  <select class="form-control" ng-model="queryOne.queryType" style="width:100px" ng-options="getQueryTypeChineseName(query) for query in queryTypeArr.slice(2,3)" required></select>
                </div>
              </div>
              <div ng-if="!(queryOne.index.valueType == 'dict')">
                <div class="form-group col-sm-2">
                  <select class="form-control" ng-model="queryOne.queryType" style="width:100px" ng-options="getQueryTypeChineseName(query) for query in queryTypeArr" required></select>
                </div>
              </div>
              <div ng-if="queryOne.queryType == 'bt'&&queryOne.index.valueType != 'dict'">
                <div class="form-group col-sm-2" style="margin-left:20px">
                  <input type="text" class="form-control" style="width:80px" ng-model="queryOne.value1" placeholder="较小值" required></div>
                <div class="form-group col-sm-2">
                  <input type="text" class="form-control" style="width:80px" ng-model="queryOne.value2" placeholder="较大值" required></div>
              </div>
              <div ng-if="queryOne.index.valueType == 'dict'">
                <div class="form-group col-sm-4" style="margin-left:20px">
                  <select class="form-control" ng-model="queryOne.value1" style="width:160px" ng-options="dictData.name for dictData in queryOne.index.columnInfo.dictType.dictDatas" required></select>
                </div>
              </div>
              <div ng-if="queryOne.queryType != 'bt'&&queryOne.index.valueType != 'dict'">
                <div class="form-group col-sm-4" style="margin-left:20px">
                  <input type="text" class="form-control" style="width:160px" ng-model="queryOne.value1" placeholder="比较值" required></div>
              </div>
              <div class="form-group col-sm-1">
                <span class="glyphicon glyphicon-remove col-sm-4" style="cursor:pointer;padding:8px 0px;" ng-click="queryArrDelete(queryOne)"></span>
              </div>
            </div>
            <div class="col-sm-12" style="padding:0 30px">
              <button class="btn btn-success" ng-click="queryArrAdd()" data-toggle="tooltip" data-placement="top" title="添加查询条件">
                添加查询条件&nbsp&nbsp
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default ng-scope" ng-click="queryDataProcess()"  ng-disabled="queryDataForm.$invalid">查询</button>
          <button class="btn btn-default ng-scope" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addBatchDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$hide()">×</button>
          <h4 class="modal-title ng-scope">导入数据</h4>
        </div>
        <div class="modal-body form-horizontal">
          <form role="form" name="addBatchDataForm">
            <div class="form-group">
              <label class="col-sm-4 control-label">CSV文件：</label>
              <div class="col-sm-6">
                <button class="btn cdi-btn-default" ng-file-select ng-file-change="getLoadFile($files)">{{addBatchDataTemp[0].name}}
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default ng-scope" ng-click="addBatchDataPre()" ng-disabled="addBatchDataForm.$invalid">导入</button>
          <button class="btn btn-default ng-scope" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addBatchDataConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;">
      <div class="modal-content">
        <div class="modal-header" align="center">
          <h4>是否确认导入数据？</h4>
        </div>

        <div>
          <div class="modal-footer">
            <button ng-click="addBatchDataProcess()" class="btn btn-primary ng-scope" data-dismiss="modal">确定</button>
            <button ng-click="addBatchDataCancel()" class="btn btn-default ng-scope">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
