<div class="banner details-banner">
  <div class="container"  style="background-image: url(../images/banner/tax_banner.png);">
    <ol class="breadcrumb">
      <li>
        <a href="/">首页</a>
      </li>
      <li>
        <a ui-sref="app.kpicategory({categoryId:3})">经济</a>
      </li>
      <li>
        <a ui-sref="app.kpicategory({categoryId:3})">财政</a>
      </li>
      <li class="active">财政</li>
    </ol>
    <h2>财政</h2>
  </div>
</div>
<div class="details-content">
  <div class="container">
    <tabset>
      <tab heading="财政支出" id="tab_eduQuality">
        <div class="row" style="margin-top: 20px;">
          <div class="panel panel-primary">
            <div class="panel-heading">
              财政支出1
              <span class="glyphicon glyphicon-question-sign pull-right"></span>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 chart-panel">
                  <highchart  style="width:550px;" id="chart1" config="FinanceKeepingChart" ></highchart>
                </div>
                <div class="col-md-5">
                  <table class="table table-hover">
                    <caption>{{lastestObject.year}} 年 {{lastestObject.month}} 月金融机构存款余额情况</caption>
                    <thead class="ioc-thead">
                      <tr>
                        <th width="35%">项目</th>
                        <th class="t-right">月末</th>
                        <th class="t-right">比年初增加</th>
                      </tr>
                    </thead>
                    <tr ng-repeat="d in tables.rTable">
                      <td>{{d.key}}</td>
                      <td>{{d.remain | number:1}}亿元</td>
                      <td>
                        {{d.rateWithOpen | signFilter}} {{d.rateWithOpen | number:1}}%
                      </td>
                    </tr>

                  </table>
                  <p class="fill-margin"></p>
                  <div class="ioc-panel-desc"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              财政支出2
              <span class="glyphicon glyphicon-question-sign pull-right"></span>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 chart-panel">
                  <highchart  id="schoolQualityByKindColumnChart" style="width:550px;" config="FinanceLoanChart" ></highchart>
                </div>
                <div class="col-md-5">
                  <table class="table table-hover">
                    <caption>{{lastestObject.year}} 年 {{lastestObject.month}} 月金融机构贷款余额情况</caption>
                    <thead class="ioc-thead">
                      <tr>
                        <th width="35%">项目</th>
                        <th class="t-right">月末</th>
                        <th class="t-right">比年初增加</th>
                      </tr>
                    </thead>
                    <tr ng-repeat="d in tables.fTable">
                      <td>{{d.key}}</td>
                      <td>{{d.remain | number:1}}亿元</td>
                      <td>
                        {{d.rateWithOpen | signFilter}} {{d.rateWithOpen | number:1}}%
                      </td>
                    </tr>

                  </table>

                  <p class="fill-margin"></p>
                  <div class="ioc-panel-desc">
                    <!-- <p class="ioc-panel-desc-title">
                    <img src="/images/common/titles/one-sentence.png"/>
                  </p>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
</div>