<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel_jiance">
    <p class="pg_title">太仓 各监测点实时数据</p>
    <div class="pj_area ui-switchable" data-widget-cid="widget-1">
        <div class="pj_area_tab ui-switchable-nav">
            <a class="tab_caqi current ui-switchable-trigger" href="javascript:void(0)">中国标准<i></i></a>
            <a class="tab_maqi ui-switchable-trigger" href="javascript:void(0)">美国标准<i></i></a>
            <div class="clear"></div>
        </div>
        <p class="pj_area_links">
            <a href="/news/96.html" target="_blank">查看中美标准差异&gt;&gt;</a>
            <a href="/news/291.html" target="_blank">本站数据来源及与其它网站的区别&gt;&gt;</a>
        </p>
        <!--详细数据开始-->
        <div class="pj_area_data ui-switchable-content">
            <div class="pj_area_data_title">
                <span class="pjadt_location">监测站点</span>
                <!--AQI指数有上下箭头，可以选择排序,a标签分别增加“aqi_arrow_top”和“aqi_arrow_down”,默认是没有这个类名的-->
                <a class="pjadt_aqi aqi_arrow_top" href="javascript:void(0)" style="cursor:default;">
                    <span>AQI</span>
                    <!-- @todo <span class="tabletittle_arrow">
                           <i class="tabletittle_arrow_top"></i>
                           <i class="tabletittle_arrow_down"></i>
                    </span> -->
                </a>
                <span class="pjadt_quality">空气质量状况</span>
                <span class="pjadt_wuranwu">首要污染物</span>
                <span class="pjadt_pm25">PM2.5浓度</span>
                <span class="pjadt_pm10">PM10浓度</span>
                <div class="clear"></div>
            </div>
            <ul class="pj_area_data_details ui-switchable-panel">
                <!--鼠标划上去后，要有个li的背景变绿色效果，增加li的"pj_area_data_item_active"就行-->
                <li class="pj_area_data_item pj_area_data_item_darkbg">
                    <b></b>
                    <a class="pjadt_location" href="/city/mon/aqi/太仓/太仓市监测站.html" title="查看太仓市监测站详细数据">太仓市监测站</a>
                    <span class="pjadt_aqi">89<i class=""></i></span>
                    <span class="pjadt_quality"><em class="pjadt_quality_bglevel_2">良</em></span>
                    <a class="pjadt_wuranwu" href="/news/388.html" title="臭氧1小时" target="_blank">臭氧1小时</a>
                    <span class="pjadt_pm25">22 <em>μg/m³</em><i class=""></i></span>
                    <span class="pjadt_pm10">69 <em>μg/m³</em><i class=""></i></span>
                    <div class="clear"></div>
                </li>
                <li class="pj_area_data_item pj_area_data_item_darkbg">
                    <b></b>
                    <a class="pjadt_location" href="/city/mon/aqi/太仓/科教新城实小.html" title="查看科教新城实小详细数据">科教新城实小</a>
                    <span class="pjadt_aqi">95<i class=""></i></span>
                    <span class="pjadt_quality"><em class="pjadt_quality_bglevel_2">良</em></span>
                    <a class="pjadt_wuranwu" href="/news/388.html" title="臭氧1小时" target="_blank">臭氧1小时</a>
                    <span class="pjadt_pm25">20 <em>μg/m³</em><i class=""></i></span>
                    <span class="pjadt_pm10">61 <em>μg/m³</em><i class=""></i></span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="pj_area_data_details ui-switchable-panel" style="display: none;">
                <!--鼠标划上去后，要有个li的背景变绿色效果，增加li的"pj_area_data_item_active"就行-->
                <li class="pj_area_data_item pj_area_data_item_darkbg">
                    <b></b>
                    <a class="pjadt_location" href="/city/mon/aqi/太仓/太仓市监测站.html" title="查看西溪详细数据">太仓市监测站</a>
                    <span class="pjadt_aqi">135<i class=""></i></span>
                    <span class="pjadt_quality"><em class="pjadt_quality_bglevel_3">轻度污染</em></span>
                    <a class="pjadt_wuranwu" href="/news/388.html" title="臭氧1小时" target="_blank">臭氧1小时</a>
                    <span class="pjadt_pm25">22 <em>μg/m³</em><i class=""></i></span>
                    <span class="pjadt_pm10">69 <em>μg/m³</em><i class=""></i></span>
                    <div class="clear"></div>
                </li>
                <li class="pj_area_data_item pj_area_data_item_darkbg">
                    <b></b>
                    <a class="pjadt_location" href="/city/mon/aqi/太仓/科教新城实小.html" title="查看西溪详细数据">科教新城实小</a>
                    <span class="pjadt_aqi">141<i class=""></i></span>
                    <span class="pjadt_quality"><em class="pjadt_quality_bglevel_3">轻度污染</em></span>
                    <a class="pjadt_wuranwu" href="/news/388.html" title="臭氧1小时" target="_blank">臭氧1小时</a>
                    <span class="pjadt_pm25">20 <em>μg/m³</em><i class=""></i></span>
                    <span class="pjadt_pm10">61 <em>μg/m³</em><i class=""></i></span>
                    <div class="clear"></div>
                </li>
            </ul>

        </div>
    </div>

</div>
<div class="panel_jiance">
    <p class="pg_title">太仓 各监测点实时数据</p>
    <div class="pj_area ui-switchable" data-widget-cid="widget-1">
        <div class="pj_area_tab ui-switchable-nav">
            <a class="tab_caqi current ui-switchable-trigger" href="javascript:void(0)">中国标准<i></i></a>
            <a class="tab_maqi ui-switchable-trigger" href="javascript:void(0)">美国标准<i></i></a>
            <div class="clear"></div>
        </div>
        <p class="pj_area_links">
            <a href="/news/96.html" target="_blank">查看中美标准差异&gt;&gt;</a>
            <a href="/news/291.html" target="_blank">本站数据来源及与其它网站的区别&gt;&gt;</a>
        </p>
        <!--详细数据开始-->
        <div class="pj_area_data ui-switchable-content">
            <div class="pj_area_data_title">
                <span class="pjadt_location">监测站点</span>
                <!--AQI指数有上下箭头，可以选择排序,a标签分别增加“aqi_arrow_top”和“aqi_arrow_down”,默认是没有这个类名的-->
                <a class="pjadt_aqi aqi_arrow_top" href="javascript:void(0)" style="cursor:default;">
                    <span>AQI</span>
                    <!-- @todo <span class="tabletittle_arrow">
                           <i class="tabletittle_arrow_top"></i>
                           <i class="tabletittle_arrow_down"></i>
                    </span> -->
                </a>
                <span class="pjadt_quality">空气质量状况</span>
                <span class="pjadt_wuranwu">首要污染物</span>
                <span class="pjadt_pm25">PM2.5浓度</span>
                <span class="pjadt_pm10">PM10浓度</span>
                <div class="clear"></div>
            </div>
            <ul class="pj_area_data_details ui-switchable-panel">
                <!--鼠标划上去后，要有个li的背景变绿色效果，增加li的"pj_area_data_item_active"就行-->
                <li class="pj_area_data_item pj_area_data_item_darkbg">
                    <b></b>
                    <a class="pjadt_location" href="/city/mon/aqi/太仓/太仓市监测站.html" title="查看太仓市监测站详细数据">太仓市监测站</a>
                    <span class="pjadt_aqi">89<i class=""></i></span>
                    <span class="pjadt_quality"><em class="pjadt_quality_bglevel_2">良</em></span>
                    <a class="pjadt_wuranwu" href="/news/388.html" title="臭氧1小时" target="_blank">臭氧1小时</a>
                    <span class="pjadt_pm25">22 <em>μg/m³</em><i class=""></i></span>
                    <span class="pjadt_pm10">69 <em>μg/m³</em><i class=""></i></span>
                    <div class="clear"></div>
                </li>
                <li class="pj_area_data_item pj_area_data_item_darkbg">
                    <b></b>
                    <a class="pjadt_location" href="/city/mon/aqi/太仓/科教新城实小.html" title="查看科教新城实小详细数据">科教新城实小</a>
                    <span class="pjadt_aqi">95<i class=""></i></span>
                    <span class="pjadt_quality"><em class="pjadt_quality_bglevel_2">良</em></span>
                    <a class="pjadt_wuranwu" href="/news/388.html" title="臭氧1小时" target="_blank">臭氧1小时</a>
                    <span class="pjadt_pm25">20 <em>μg/m³</em><i class=""></i></span>
                    <span class="pjadt_pm10">61 <em>μg/m³</em><i class=""></i></span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="pj_area_data_details ui-switchable-panel" style="display: none;">
                <!--鼠标划上去后，要有个li的背景变绿色效果，增加li的"pj_area_data_item_active"就行-->
                <li class="pj_area_data_item pj_area_data_item_darkbg">
                    <b></b>
                    <a class="pjadt_location" href="/city/mon/aqi/太仓/太仓市监测站.html" title="查看西溪详细数据">太仓市监测站</a>
                    <span class="pjadt_aqi">135<i class=""></i></span>
                    <span class="pjadt_quality"><em class="pjadt_quality_bglevel_3">轻度污染</em></span>
                    <a class="pjadt_wuranwu" href="/news/388.html" title="臭氧1小时" target="_blank">臭氧1小时</a>
                    <span class="pjadt_pm25">22 <em>μg/m³</em><i class=""></i></span>
                    <span class="pjadt_pm10">69 <em>μg/m³</em><i class=""></i></span>
                    <div class="clear"></div>
                </li>
                <li class="pj_area_data_item pj_area_data_item_darkbg">
                    <b></b>
                    <a class="pjadt_location" href="/city/mon/aqi/太仓/科教新城实小.html" title="查看西溪详细数据">科教新城实小</a>
                    <span class="pjadt_aqi">141<i class=""></i></span>
                    <span class="pjadt_quality"><em class="pjadt_quality_bglevel_3">轻度污染</em></span>
                    <a class="pjadt_wuranwu" href="/news/388.html" title="臭氧1小时" target="_blank">臭氧1小时</a>
                    <span class="pjadt_pm25">20 <em>μg/m³</em><i class=""></i></span>
                    <span class="pjadt_pm10">61 <em>μg/m³</em><i class=""></i></span>
                    <div class="clear"></div>
                </li>
            </ul>

        </div>
    </div>

</div>
</body>
</html>