<div class="banner">
    <div class="container" style="background-image: url('../{{categoryBackground}}');">
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="" ng-click="load()">{{domainName}}</a>
            </li>
            <li class="active">{{categoryName}}</li>
        </ol>
    </div>
</div>

<div class="kpicategory-content" style="min-height:800px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel kpi-nav-panel">
                            <div class="panel-heading">导航窗口</div>
                            <div class="panel-body" style="min-height: 200px;">
                                <div class="nav-item" ng-repeat="tab in categories"
                                     ui-sref="app.kpicategory({categoryId:tab.id})">
                                    <div class="nav-item-title">
                                        <a href="#" ng-click="" style="color: white">{{tab.name}}</a>
                                        <ul class="dropdown">
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="home-container">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary ioc-panel" ng-repeat="class in kpiClasses">
                                    <div class="panel panel-primary ioc-panel" style="border:none;"
                                    >
                                        <div class="panel-heading">
                                            {{class.name}}指标
                                            <span class="glyphicon glyphicon-question-sign pull-right"></span>
                                        </div>
                                        <div class="panel-body" style="padding-top: 40px">
                                            <div class="col-md-4">
                                                <div class="panel-operation">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default" id=""
                                                                ng-click="loadChart(class, class.curKpi, 'short')">
                                                            {{class.curShortBtnText}}
                                                        </button>
                                                        <button type="button" class="btn btn-default" id=""
                                                                ng-click="loadChart(class, class.curKpi, 'long')">
                                                            {{class.curLongBtnText}}
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="ioc-panel-desc">
                                                    <div ng-if="class.data[class.select_index].kpiStatus.status != 'nodata'">
                                                        <p>
                                                            {{ class.curExplain.date }}{{class.curKpi.name}} KPI 值为
                                                            {{class.curKpi | unit_trans}}。
                                                        </p>
                                                        <p>
                                                            KPI 状态为
                                                            <label class="label {{class.curKpi.data.status | kpiStatusClass}} status">{{
                                                                class.curKpi.data.status | kpiStatusText}}</label>
                                                        </p>
                                                    </div>
                                                    <div ng-if="class.data[class.select_index].kpiStatus.status == 'nodata'">
                                                        <p>{{ class.curExplain.date }}{{class.curKpi.name}} KPI 数据缺失</p>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="panel-chart col-md-8" style="min-height:410px;">

                                                <chart id="test-chart" title="{{class.chart.title}}"
                                                       xData="chartXData_{{class.id}}"
                                                       yData="chartYData_{{class.id}}" kpitype="{{class.chart.xName}}"
                                                       yName="{{class.chart.yName}}" interval="interval_{{class.id}}"
                                                       unit="{{class.curKpi.data.unit | unit_val}}"></chart>
                                            </div>
                                            <p class="fill-margin"></p>

                                            <p class="pull-left">
                                                <button ui-sref="{{class.kpiDetailUrl}}" class="view-details">查看kpi详情
                                                </button>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
