<div class="row" id="scroller">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 220px;">
            <!--myCarousel-->
            <!--<ol class="carousel-indicators">-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
            <!--</ol>-->
            <!--<div class="carousel-inner">-->
            <!--<div class="item active">-->
            <!--<img data-src="holder.js/1024*150/auto/#777:#555/text:First slide" alt="First slide"-->
            <!--src="images/tc/taicang-banner4.png" width="100%"></div>-->
            <!--<div class="item">-->
            <!--<img data-src="holder.js/1024*150/auto/#666:#444/text:Second slide" alt="Second slide"-->
            <!--src="images/tc/taicang-banner2.jpg" width="100%"></div>-->
            <!--</div>-->
            <div class="citydata_banner_width banner_bg_level1">
                <div class="citydata_banner">
                    <div class="citydata_banner_top">
                        <div class="citydata_changecity">
                            <a href="javascript:void(0)" class="minicity_clk"></a>
                            <span class="city_name">太仓市</span>
                            <span class="city_description">实时空气质量指数（AQI）</span>
                        </div>
                        <div class="citydata_updatetime">更新时间：2017-04-28 17:00</div>
                        <div class="clear"></div>
                    </div>

                    <!--透明层-->
                    <div class="citydata_banner_opacity">
                        <div class="cbo_left">
                            <div class="cbol_aqi">
                                <a class="cbol_aqi_num" href="/news/385.html" target="_blank">19</a>
                                <a class="cbol_aqi_name" href="/news/385.html" target="_blank">AQI指数</a>
                            </div>
                            <div class="cbol_wuranwu">
                                <!--没有污染物数据的时候，增加个“cbol_wuranwu_nodata”，删掉里面内容再加个i标签"<i></i>"-->
                                <a class="cbol_wuranwu_num cbol_wuranwu_nodata" href="javascript:void(0)"
                                   target="_blank"><i></i></a>
                                <a class="cbol_wuranwu_name" href="javascript:void(0)" target="_blank">首要污染物</a>
                            </div>
                            <div class="cbol_nongdu">
                                <!--没有浓度数据的时候，增加个“cbol_nongdu_nodata”，删掉里面内容换成个i标签"<i></i>"-->
                                <a class="cbol_nongdu_num " href="/news/386.html" target="_blank">
                                    <span class="cbol_nongdu_num_1">13</span>
                                    <span class="cbol_nongdu_num_2">微克/立方米</span>
                                </a>
                                <a class="cbol_nongdu_name" href="/news/386.html" target="_blank">PM2.5浓度</a>
                            </div>
                        </div>
                        <div class="cbo_right">
                            <div class="cbor_gauge">
                                <!--指针的位置不同的等级“cbor_gauge_level1”改后边的数字，里面的文字包含"优，良，轻度污染，中度污染，重度污染，严重污染"-->
                                <span class="cbor_gauge_level1">优</span>
                                <p class="cbor_gauge_img"></p>
                                <p class="cbor_gauge_num">0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500</p>
                            </div>
                            <div class="cbor_tips">
                                <p>
                                    <span>温馨提示：</span>
                                    空气很好，可以外出活动，呼吸新鲜空气。 </p>
                            </div>
                            <a class="cbor_morelink" href="/protection.html" target="_blank">更多防护&gt;&gt;</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="cbo_opacity"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container home-container" style="margin-top: 230px">
    <div class="row" ng-repeat="domain in domainMap" id="{{ domain.id }}-section">
        <div class="col-md-12">
            <!--<div class="title">-->
            <!--<a>-->
            <!--<img ng-src="{{ domain.icon }}" height="40"></a>-->
            <!--<span ng-bind-html='domain.status | domainStatusHTML'></span>-->
            <!--<div class="pull-right title-desc">&nbsp;&nbsp;</div>-->
            <!--<div class="pull-right title-desc" style="width:300px;overflow:hidden;" ioc-marquee>-->
            <!--<span ng-repeat="news in domain.selectedCategory.news">-->
            <!--<a href="{{news.url}}" target="_blank">{{ news.title }}</a>-->
            <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--</span>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div class="pull-right title-desc" style="padding-right:0;">重要通知：</div>&ndash;&gt;-->
            <!--</div>-->

            <div class="desc"></div>
            <div class="display-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary" style="border-top: 0">
                            <div style="min-height:610px;">
                                <div class="" ioc-btn-group>
                                    <!--<button ioc-btn class="btn btn-xs {{category.status | categoryStatus}}" style="margin-right:5px;" ng-repeat="category in domain.data | orderBy:'sortOrder'" ng-click="selectCategory(domain, category)" >{{category.name}}</button>-->
                                    <a ioc-btn class="btn btn-xs btn-green"
                                       ng-repeat="category in domain.data | orderBy:'sortOrder'"
                                       ng-click="selectCategory(domain, category)">{{category.name}}</a>
                                </div>
                                <table class="table table-bordered kpi-table">
                                    <thead class="ioc-thead">
                                    <tr>
                                        <th style="width:26%;">关键业绩指标(KPI)名称</th>
                                        <th>当前状态</th>
                                        <th style="text-align:center; border-right:none;">KPI值</th>
                                        <th style="border-left:none;"></th>
                                        <th>数据来源</th>
                                        <th style="text-align:center;">更新频率</th>
                                        <th>统计时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="kpi in domain.selectedCategory.page_data | orderBy:'sortOrder'">
                                        <td class="tr-kpiname">{{kpi.name}}</td>
                                        <td class="tr-kpistatus">
                                            <label class="label {{kpi.data.status | kpiStatusClass}} status">{{
                                                kpi.data.status | kpiStatusText}}</label>

                                            <span ng-bind-html=""></span>
                                        </td>
                                        <td class="tr-kpicolor" style="text-align:center; border-right:none;">
                                            <span class="kpi-value">{{kpi | unit_trans}}</span>

                                        </td>
                                        <td style="border-left:none;"><i class="ioc-icon ioc-icon-green"></i>
                                        </td>
                                        <td class="tr-kpidepartment">{{kpi.department.name}}</td>
                                        <td style="text-align:left;">{{kpi | kpiTypeFilter}}</td>
                                        <!-- <td>{{ kpi.updateTime |  date:'yyyy年MM月dd日' }}</td>
                                    -->
                                        <td class="tr-kpidate">{{kpi | applyDateFilter }}</td>
                                        <th>
                                            <a ui-sref="app.kpicategory({categoryId:domain.selectedCategory.id})">查看详情</a>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination class="pull-right" direction-links="true"
                                        total-items="domain.selectedCategory.total"
                                        ng-model="domain.selectedCategory.curr_page"
                                        ng-change="pageChanged(domain.selectedCategory)" items-per-page="10"
                                        previous-text="上一页" next-text="下一页"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 100px;"></div>
</div>
