<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
  <div class="col-md-2">
    <p>
      <a href="">权限管理</a>
    </p>
    <ul>
      <li><a ng-click="closePullInfo()" ui-sref="app.userConfig">权限配置</a></li>
    </ul>
  </div>
  <div class="col-md-2">
    <p>
      <a href="">KPI管理</a>
    </p>
    <ul>
      <li><a ng-click="closePullInfo()" ui-sref="app.kpiConfig">KPI配置</a></li>
    </ul>
  </div>

</div>


</body>
</html>
